/* CSS Document */

div#accounting-form-result table {
    font-size: .7em;
    margin: 0;
}

div.form-item-year, div.form-item-month, div.form-item-pdid {
    width: 20%;
    float:left;   
}
div.form-item-puid {
    width: 25%;
    float:left;   
}
div.form-item-tid {
    width: 15%;
    float:left;   
}
.form-type-radio {
    width: 15%;
    float:left;   
}
.form-select {
    width: 75%;   
}
.form-type-checkboxes {
    width: 25%;
    position: relative;
    top: -50px;
    right: -25px;
}

div.pos-heading {
    position: relative;        
}

a.csv-link {
    padding: 5px 10px;
    background-color: #F5F5F5;
    position: absolute;
    top: 50%;
    right: 0;
}

a.csv-link:hover {
    background-color: #6FB4FB;
    color: #FFFFFF;
}